body{
    background-image: url('img/pattern-background-desktop.svg');
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display';
}
.general{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding-bottom: 20px;
    border-radius: 10px;
    color: hsl(224, 23%, 55%);
}
.hero{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.order{
    margin: 15px;
    text-align: center;
}
h4{
    text-align: center;
    color: hsl(223, 47%, 23%);
}
p{
    font-size: 16px;
    padding: 0 20px;
    font-weight: 500;
}

.plan{
    display: flex;
    padding: 0 10px;
    background-color: hsl(225, 100%, 98%);
    align-items: center;
    border-radius: 10px;
}
.dir{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 25px;
    /* border: red solid; */
    padding-bottom: 20px;
}
h5{
    color: hsl(223, 47%, 23%);
}
button{
    display: block;
    background-color: hsl(245, 75%, 52%);
    padding: 10px;
    width: 80%;
    border-radius: 10px;
    margin: 20px;
}
